@{
    foreach (var house in Model.getAllHouses)
    {
    <div class="list">
        <img src="@house.Img" alt="@house.Name">
        <h3>@house.Name</h3>
        <p>@house.Price рублей </p>
        <p> Площадь:@house.Square Район:@house.Area Адрес:@house.Address</p>
        <p>@house.Despription</p>
    </div>
    }
}
