@{
    foreach (var house in Model.getAllHouses)
    {
        <div>
            <h3>@house.Name</h3>
            <h1>admin</h1>
            <p>@house.Price рублей </p>
            <p> Площадь:@house.Square Район:@house.Area Адресс:@house.Address</p>
            <p>@house.Despription</p>
            <img src="@house.Img" alt="@house.Name">
        </div>
    }
}
